body{
  background-color: black;
  margin: 40px;
}


.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 550px 550px 550px;
  gap: 40px;
}


/*
_____________________________________________________________________________________________________________

Frame Stuff

*/


.frame{
  background-color: aliceblue;
  border: 10px, ridge black;
  font-size: 0px;
  box-shadow: 0px 0px 40px white;
  border-radius: 20px;
}


.firstFrame{
  grid-column-start: 1;
  grid-row-start: 1;
}
.secondFrame{
  grid-column-start: 2;
  grid-row-start: 1;
}
.thirdFrame{
  grid-column-start: 1;
  grid-row-start: 2;
}
.fourthFrame{
  grid-column-start: 2;
  grid-row-start: 2;
}
.fifthFrame{
  grid-column-start: 1;
  grid-row-start: 3;
}


/*
_____________________________________________________________________________________________________________

Text Stuff

*/


.words{
  font-size: 24px;
}


.sampleText{
  grid-column-start: 1;
  grid-row-start: 1;
}
.sampleTextTwo{
  grid-column-start: 2;
  grid-row-start: 1;
}
.sampleTextThree{
  grid-column-start: 1;
  grid-row-start: 2;
}
.sampleTextFour{
  grid-column-start: 2;
  grid-row-start: 2;
}
.sampleTextFive{
  grid-column-start: 1;
  grid-row-start: 3;
}


/*
_____________________________________________________________________________________________________________

Character Stuff

*/


.characters{
  font-size: 0px;
}


.SpongebobOne{
  background: url(/public/img/SexySpongebob.png) no-repeat;
  
  grid-column-start: 1;
  grid-row-start: 1;
}
.IDKtwo{
  grid-column-start: 2;
  grid-row-start: 1;
}
.IDKthree{
  grid-column-start: 1;
  grid-row-start: 2;
}
.IDKfour{
  grid-column-start: 2;
  grid-row-start: 2;
}
.IDKfive{
  grid-column-start: 1;
  grid-row-start: 3;
}