body{
  background-color: black;
  margin: 20px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 550px 550px 550px;
  gap: 20px;
}


/*
_________________________________________________________________________________________

*/
.frame{
  background-color: aliceblue;
  border: 10px, ridge black;
}

.firstFrame{
  grid-column-start: 1;
  grid-row-start: 1;
}
.secondFrame{
  grid-column-start: 2;
  grid-row-start: 1;
}
.thirdFrame{
  grid-column-start: 1;
  grid-row-start: 2;
}
.fourthFrame{
  grid-column-start: 2;
  grid-row-start: 2;
}
/*.sampleText{

}