body{
  background-color: black;
  margin: 40px;
}

/*
_____________________________________________________________________________________________________________

Frame Stuff

*/

.frame{
  background: url(../img/SpongebobHouse.png) no-repeat;
  background-position: 10%;
  background-size: 130%;
  background-color: aliceblue;
  border: 10px, ridge black;
  font-size: 0px;
  box-shadow: 0px 0px 40px white;
  border-radius: 20px;
  height: 1120px;
  width: 1fr;
}

/*
_____________________________________________________________________________________________________________

Character Stuff

*/

.Spongebob1{
  grid-column-start: 1;
  grid-row-start: 1;
  background: url(../img/Spongebob_bruh.png) no-repeat;
  width: 500px;
  height: 350px;
  position: relative;
  left: 150px;
  top: 350px;
  background-size: 25%;
  z-index: 1000;
}

.Homelander1{
  grid-column-start: 1;
  grid-row-start: 1;
  background: url(../img/Homelander_ArmUp_Floating.png) no-repeat;
  width: 500px;
  height: 600px;
  position: relative;
  left: 375px;
  top: 150px;
  background-size: 35%;
  z-index: 1000;
}

.Patrick1{
  grid-column-start: 1;
  grid-row-start: 1;
  background: url(../img/PatrickThrowingBoot.gif) no-repeat;
  height: 450px;
  width: 300px;
  background-size: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1000;
}

/*
_____________________________________________________________________________________________________________

Nex Page Stuff

*/

.nextPage{
  height: 120px;
  width: 200px;
  position: absolute;
  left: 1005px;
  top: 1225px;
  border-radius: 20px;
  font-size: 50px;
  background-color: darkgray;
}

.nextPage:hover{
    background-color: white;
    animation-name: nextbuttonMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes nextbuttonMove{
    0% {width: 200px; height: 120px; top: 1225px; left: 1005px;}
    50% {width: 180px; height: 110px; top: 1230px; left: 1015px;}
    100% {width: 200px; height: 120px; top: 1225px; left: 1005px;}
}
.lastPage{
  height: 120px;
  width: 230px;
  position: absolute;
  left: 50px;
  top: 1225px;
  border-radius: 20px;
  font-size: 50px;
  background-color: darkgray;
}

.lastPage:hover{
    background-color: white;
    animation-name: lastbuttonMove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes lastbuttonMove{
    0% {width: 230px; height: 120px; top: 1225px; left: 50px;}
    50% {width: 210px; height: 110px; top: 1230px; left: 60px;}
    100% {width: 230px; height: 120px; top: 1225px; left: 50px;}
}

